/node_modules
/package-lock.json
/package.json
/webpack.mix.js
/webpack.mix.js.map
/webpack.mix.js.map.gz
/webpack.mix.js.map.gz.map
/webpack.mix.js.map.gz.map.map
/webpack.mix.js.map.gz.map.map.map
/webpack.mix.js.map.gz.map.map.map.map

